{% extends 'dictionary/base_global_nomember.html' %}

{% block body %}
  
    <div class="col-md-6 offset-md-3">
		{% if form.errors %}
			<div class="alert alert-danger" role="alert">
			  Your username and password didn't match. Please try again.
			</div>
		  {% endif %}
		  
		  {% if next %}
			{% if user.is_authenticated %}
			  <div class="alert alert-danger" role="alert">
				Your account doesn't have access to this page. To proceed, please login with an account that has access.
			  </div>
			{% else %}
			  <div class="alert alert-info" role="alert">
				Please login to see this page.
			  </div>
			{% endif %}
		  {% endif %}
		  
		<div class="card">
		  <div class="card-header">
		  Login form
		  </div>
		  <div class="card-body">
		  
			  <form  method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
					<input class="form-control" id="{{ form.username.id_for_label }}" maxlength="30" name="{{ form.username.html_name }}" type="text" />
					{{ form.username.errors }}
				</div>
				<div class="form-group">
					<label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
					<input class="form-control" id="{{ form.password.id_for_label }}" maxlength="30" name="{{ form.password.html_name }}" type="password" />
					{{ form.password.errors }}
				</div>
				<div class="text-center">
					<input type="submit" class="btn btn-primary" value="Login" />
					<input type="hidden" name="next" value="{{ next }}">
					{# Assumes you setup the password_reset view in your URLconf #}
					<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
					<p><a href="{% url 'login' %}">No account yet ? Create an account</a></p>
				</div>
			  </form>
		  </div>
		</div>
	</div>
  
{% endblock %}