{% extends 'dictionary/base_global.html' %}

{% block title %}
Taking a quizz
{% endblock %}

{% block libraries %}
{% load crispy_forms_tags %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock %}

{% block body %}

<h1>Take the quizz</h1>
<br>

<form action="{% url 'add_review' %}" method="post">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Take the quizz</button>
</form>
{% endblock %}