p.title{
	color: #CBE2F2;
	font-size: 16px;
	weight:300;
}

p.head{
	color:white;
	font-size:14px;
}

.primary{
	color: #00487C!important;
}

.secondary{
	color: #00487C!important;
}

img{
	width:100%;
}

.delimiter{
	margin-top:20px;
	margin-bottom:60px;
	height:1px;
	width:90%;
	margin-left:10%;
}

.v-center {
   display: flex;
   align-items: center;
}

a.link1{
	color:rgba(255,255,255,.8) !important;
	transition: color 0.5s;
}

a.link1:hover{
	color:rgba(255,255,255,.5) !important;
	text-decoration:none;
	transition: color 0.5s;
}

a.link2{
	color:rgba(255,255,255,1) !important;
	transition: color 0.5s;
}

a.link2:hover{
	color:rgba(255,255,255,.5) !important;
	text-decoration:none;
	transition: color 0.5s;
}

.containerflex {
  display: flex;
}

.containerflex .text {
  flex: 1 0 50%;
}

.containerflex .image {
  display: flex;
  flex: 1 0 50%;
  align-items: center;
  justify-content: center;
}

.content{
	margin-top:100px;
}