{% extends 'dictionary/base_global_nomember.html' %}

{% block libraries %}
{% load crispy_forms_tags %}
{% endblock %}

{% block body %}
  
    <div class="col-md-6 offset-md-3">
		  
		<div class="card">
		  <div class="card-header">
		  Signup form
		  </div>
		  <div class="card-body">
		  
			  <form  method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<div class="text-center">
				  <input type="submit" class="btn btn-primary" value="Sign up" />
				</div>
			  </form>
		  </div>
		</div>
	</div>
  
{% endblock %}