body,html{
	height:100%;
	width:100%;
}

* {
  box-sizing: border-box;
}

body.color{
	background-color: #00487C!important;
}

.background_home{
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container_home{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width:80%;
}

.text_home {
  background-color: rgba(0,0,0,0.5);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 5px 5px #000000;
}

input.login{
	cursor:pointer;
}

p.title{
	color: #CBE2F2;
	font-size: 16px;
	weight:300;
}

p.head{
	color:white;
	font-size:14px;
}

.primary{
	color: #00487C!important;
}

.secondary{
	color: #00ADFF!important;
}

.blurred{
	filter: blur(10px);
}

.blurred_nohover{
	filter: blur(10px);
}

.blurred_nohover:hover{
	filter:none;
}

img{
	width:100%;
}

.delimiter{
	margin-top:20px;
	margin-bottom:60px;
	height:1px;
	width:90%;
	margin-left:10%;
}

.v-center {
   display: flex;
   align-items: center;
}

a.link1{
	color:rgba(255,255,255,.8) !important;
	transition: color 0.5s;
}

a.link1:hover{
	color:rgba(255,255,255,.5) !important;
	text-decoration:none;
	transition: color 0.5s;
}

a.link2{
	color:rgba(255,255,255,1) !important;
	transition: color 0.5s;
}

a.link2:hover{
	color:rgba(255,255,255,.5) !important;
	text-decoration:none;
	transition: color 0.5s;
}

.containerflex {
  display: flex;
}

.containerflex .text {
  flex: 1 0 50%;
}

.containerflex .image {
  display: flex;
  flex: 1 0 50%;
  align-items: center;
  justify-content: center;
}

.content{
	margin-top:100px;
}