{% load crispy_forms_tags %}
{% load static %}
<script type="text/javascript">
	var target_words = "{{ target_input_words }}";
</script>

<script src="{% static 'dictionary/dictionary/js/fields_not_required.js' %}"></script>
<script src="{% static 'dictionary/dictionary/js/autocomplete_form.js' %}"></script>

<div class="adding_item">
	<div class="parameters" style="display:none">
		<div class="url_autocomplete">{% url 'autocomplete_verb' %}</div>
		<div class="prefix">{{ form.prefix }}</div>
		<div class="list_fields">{{ form.list_fields|safe }}</div>
	</div>
	<fieldset>
		<legend>{{ form.title }}</legend>
		<div class="row">
		  <div class="col-5">
			{{ form.word|as_crispy_field }}
		  </div>
		  <div class="col-2">
			{{ form.language|as_crispy_field }}
		  </div>
		</div>
		<ul class="list-group list_words">
		</ul>
	</fieldset>
</div>
<br>