{% extends 'dictionary/base_global.html' %}

{% block title %}
Adding a translation
{% endblock %}

{% block libraries %}
{% load crispy_forms_tags %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% load static %}
<script type="text/javascript">
	var target_words = "{{ target_input_words }}";
</script>

<script src="{% static 'dictionary/dictionary/js/autocomplete_form.js' %}"></script>

{% endblock %}

{% block body %}

<h1>Add/Update an article</h1>
<br>

{% if slug_article %}
<form action="{% url 'update_article' slug_article=slug_article %}" method="post">
{% else %}
<form action="{% url 'add_article' %}" method="post">
{% endif %}
	{% csrf_token %}
	{% include "dictionary/add_topic_form.html" with form=form_topic %}
	{% include "dictionary/add_newspaper_form.html" with form=form_newspaper %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Add/Update an article</button>
</form>
{% endblock %}