<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Title{% endblock %}</title>

  {% load static %}
  <link href="{% static 'dictionary/dictionary/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'dictionary/dictionary/css/custom.css' %}" rel="stylesheet">
  
  <!-- icons -->
  <script src="https://kit.fontawesome.com/66535dc365.js"></script>
  
  {% block libraries %}{% endblock %}

</head>

<body>
	
	{% block nav %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
		  <li class="nav-item">
            <a class="nav-link link1" href="{% url 'home_member' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link1" href="{% url 'list_translations' %}">Translations</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link link1" href="{% url 'list_reviews' %}">Reviews</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link link1" href="{% url 'list_book' %}">Books</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link link1" href="{% url 'list_article' %}">Articles</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link link1" href="{% url 'list_discussion' %}">Discussions</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link link1" href="{% url 'logout' %}">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  <div class="content">
    <div class="col-lg-10 mx-auto">
			{% block body %}{% endblock %}
	</div>
  </div>
</body>