{% extends 'dictionary/base_global.html' %}

{% block title %}
Lectures list
{% endblock %}

{% block libraries %}
{% load crispy_forms_tags %}
{% endblock %}

{% block body %}
	<h1>Books</h1>
	<br>
	<a href="{% url 'add_book' %}">
		<button type="submit" class="btn btn-success">Add a new book</button>
	</a>
	<br><br>
	{% for book in object_list %}
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<a href="{% url 'details_book' slug=book.slug %}">
			{{ book.title }} ({{ book.author.first_name }} {{ book.author.last_name }})
			</a>
			<div class="pull-right">
				<span class="badge badge-primary badge-pill mr-3">{{ book.nb_translations }}</span>
				<a href="{% url 'update_book' slug=book.slug %}">
					<button class="btn btn-success mr-3">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</button>
				</a>
				<button class="btn btn-danger">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
			</div>
		</li>
	{% empty %}
		<div class="alert alert-info" role="alert">
		No lectures yet.
		</div>
	{% endfor %}
{% endblock %}