{% extends 'dictionary/base_global.html' %}

{% block title %}
Adding a translation
{% endblock %}

{% block libraries %}
{% load crispy_forms_tags %}

{{ words|json_script:"words_list" }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% load static %}
<script type="text/javascript">
	var target_words = "{{ target_words_input_id }}";
</script>

<script src="{% static 'dictionary/dictionary/js/addauthor_form.js' %}"></script>

{% endblock %}

{% block body %}

<form action="{% url 'add_book' %}" method="post">
	{% csrf_token %}
	{% include "dictionary/addauthor_form.html" with form=formA %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Add a new book</button>
</form>
{% endblock %}