	<table class="table">
	  <thead class="thead-dark">
		<tr>
		  <th scope="col">Original word</th>
		  <th scope="col">Translated word</th>
		  <th scope="col">Added on</th>
		  <th scope="col"></th>
		  <th scope="col"></th>
		  <th scope="col"></th>
		</tr>
	  </thead>
	  <tbody>
		  {% for translation in translations.all %}
			  <tr>
				  <td class="align-middle">{{ translation.original_word.word }} ({{ translation.original_word.gender }})</td>
				  <td class="align-middle">{{ translation.translated_word.word }} ({{ translation.translated_word.gender.short }})</td>
				  <td class="align-middle">{{ translation.date_added|date:'d/m/Y' }}</td>
				  <td>
				    {% if slug_book %}
					<a href="{% url 'view_translation_book' slug_book=book.slug slug=translation.slug %}">
					{% else %}
					<a href="{% url 'details_translation' slug=translation.slug %}">
					{% endif %}
						<button class="btn btn-primary">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</button>
					</a>
				  </td>
				  <td>
					{% if slug_book %}
				    <a href="{% url 'update_translation_book' slug_book=book.slug slug=translation.slug %}">
					{% else %}
					<a href="{% url 'update_translation' slug=translation.slug %}" method="post">
					{% endif %}
					  <button class="btn btn-success">
				         <i class="fa fa-pen" aria-hidden="true"></i>
					  </button>
					</a>
				  </td>
				  <td>
				    {% if slug_book %}
				    <a href="{% url 'delete_translation_book' slug_book=book.slug slug=translation.slug %}">
					{% else %}
					<a href="{% url 'delete_translation' slug=translation.slug %}" method="post">
					{% endif %}
					  <button class="btn btn-danger">
						<i class="fa fa-times" aria-hidden="true"></i>
					  </button>
					</a>
				  </td>
			  </tr>
		  {% empty %}
		  No translations yet.
	      {% endfor %}
      </tbody>
	</table>