{% extends 'dictionary/base_global.html' %}

{% block title %}
Lectures list
{% endblock %}

{% block libraries %}
{% load crispy_forms_tags %}
{% endblock %}

{% block body %}
	<h1>Quizz</h1>
	<br>
	<a href="{% url 'add_review' %}">
		<button type="submit" class="btn btn-success">Take a new quizz</button>
	</a>
	<br><br>
	{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
	{% for quizz in object_list %}
		<li class="list-group-item d-flex align-items-center">
			<div class="col-md-6">
				<a href="{% url 'details_review' slug_review=quizz.slug %}">
				{{ quizz }}
				</a>
			</div>
			<div class="col-md-3">
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow=""
				  aria-valuemin="0" aria-valuemax="100" style="width:{{ quizz.get_ratio_success_asint_percentage }}%">
				  {{ quizz.get_ratio_success_asint_percentage }}%
				  </div>
				</div> 
			</div>
			<div class="col-md-3">
				<div class="float-right">
					<a href="{% url 'delete_review' slug_review=quizz.slug %}">
						<button class="btn btn-danger">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</a>
				</div>
			</div>
		</li>
	{% empty %}
		<div class="alert alert-info" role="alert">
		No quizz yet.
		</div>
	{% endfor %}
	{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
	<br>
{% endblock %}