{% extends 'dictionary/base_global.html' %}

{% block title %}
Translation
{% endblock %}

{% block libraries %}
{% load crispy_forms_tags %}

{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'dictionary/dictionary/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}

{% block body %}
	<br><br>
	<div class="row">
		<div class="col-md-1 offset-1">
		
		</div>
		{% if slug_book %}
		{% include "dictionary/translation_card.html" with translation=translation slug_book=slug_book %} 
		{% elif slug_article %}
		{% include "dictionary/translation_card.html" with translation=translation slug_article=slug_article %} 
		{% else %}
		{% include "dictionary/translation_card.html" with translation=translation %}  
		{% endif %}
		<div class="col-md-1">
		
		</div>
	<div>
{% endblock %}