
<script>
$(document).ready(function(){
    $("#tab_choice a").click(function(e){
        e.preventDefault();
        $(this).tab('show');
    });
});

</script>

<script type="text/javascript">
$(function () {
  $('[data-toggle=\"tooltip\"]').tooltip();
})
</script>

<script type="text/javascript">

function reveal(){

	var divs = document.getElementsByClassName('blurred');
	for(i = 0; i < divs.length; i++) {
		divs[i].style.filter = 'none';
	}
	
	document.getElementById("success").removeAttribute("disabled");
	document.getElementById("fail").removeAttribute("disabled");

}

</script>

<div class="main_info col-md-8">
	<div class="card text-center">
	  <div class="card-header">
		<ul class="nav nav-pills" id="tab_choice">
			<li class="nav-item">
				<a href="#translation" class="nav-link active" data-toggle="tab">Translation</a>
			</li>
			<li class="nav-item">
				{% if quizz_item.translation.original_word %}
				<a href="#name" class="nav-link" data-toggle="tab">Name</a>
				{% else %}
				<a href="#name" class="nav-link disabled" data-toggle="tab">Name</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if quizz_item.translation.original_adj %}
				<a href="#adjective" class="nav-link" data-toggle="tab">Adjective</a>
				{% else %}
				<a href="#adjective" class="nav-link disabled" data-toggle="tab">Adjective</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if quizz_item.translation.original_verb %}
				<a href="#verb" class="nav-link" data-toggle="tab">Verb</a>
				{% else %}
				<a href="#verb" class="nav-link disabled" data-toggle="tab">Verb</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if quizz_item.translation.original_exp %}
				<a href="#expression" class="nav-link" data-toggle="tab">Expression</a>
				{% else %}
				<a href="#expression" class="nav-link disabled" data-toggle="tab">Expression</a>
				{% endif %}
			</li>
		</ul>
	  </div>
	  <div class="card-body">
		<div class="tab-content">
			<div id="translation" class="tab-pane fade show active">
				<h2 class="primary {{ quizz_item.original_blurred }}">
				{{ quizz_item.translation.original_str }}
				</h2>
				<h2 class="secondary {{ quizz_item.translate_blurred }}">
				{{ quizz_item.translation.translated_str }}
				</h2>
			</div>
			
			<div class="tab-pane fade" id="name">
				<h2 class="primary {{ quizz_item.original_blurred }}">
				{{ quizz_item.translation.original_word }}
				</h2>
				<h2 class="secondary {{ quizz_item.translate_blurred }}">
				{{ quizz_item.translation.translated_word }}
				</h2>
			</div>
			
			<div class="tab-pane fade" id="adjective">
				<h2 class="primary {{ quizz_item.original_blurred }}">
				{{ quizz_item.translation.original_adj }}
				</h2>
				<h2 class="secondary {{ quizz_item.translate_blurred }}">
				{{ quizz_item.translation.translated_adj }}
				</h2>
			</div>
			
			<div class="tab-pane fade" id="verb">
				<h2 class="primary {{ quizz_item.original_blurred }}">
				{{ quizz_item.translation.original_verb }}
				</h2>
				<h2 class="secondary {{ quizz_item.translate_blurred }}">
				{{ quizz_item.translation.translated_verb }}
				</h2>
			</div>
			
			<div class="tab-pane fade" id="expression">
				<h2 class="primary {{ quizz_item.original_blurred }}">
				{{ quizz_item.translation.original_exp }}
				</h2>
				<h2 class="secondary {{ quizz_item.translate_blurred }}">
				{{ quizz_item.translation.translated_exp }}
				</h2>
			</div>
		</div>
	  </div>
	  <div class="card-footer">
		<div class="row">
			<div class="col-md-6 text-left">
			Added the {{ quizz_item.translation.date_added|date:'d/m/Y'  }}
			</div>
			<div class="text-right col-md-6">
				<a href="{% url 'quizz_analysis_review_item' slug_review=slug_review slug_item=quizz_item.slug success=1 %}">
					<button id="success" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Indicate that you have the good answer" disabled><i class="fa fa-check" aria-hidden="true"></i></button>
				</a>
				<button id="check" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Reveal the result to continue" onclick="reveal();"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
				<a href="{% url 'quizz_analysis_review_item' slug_review=slug_review slug_item=quizz_item.slug success=0 %}">
					<button id="fail" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Indicate that you do not have the good answer" disabled><i class="fa fa-close" aria-hidden="true"></i></button>
				</a>
			</div>
		</div>
	  </div>
	</div>
</div>